:root {
  --red: #dd2c00;
  --orange: #ff5722;
  --dark-blue: #10375c;
  --white: #ffffff;
  --black: #222831;
  --gray: #6a6a6a;
}

/*  global  */

.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
}

.container_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_column {
  display: flex;
  flex-direction: column;
}

.space-between-block {
  margin-bottom: 112px;
}

/*  text  */

.title {
  box-sizing: content-box;

  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.sub-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.title-block {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
}

.title-block::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 2px;
  top: 50%;
  margin-left: 15px;
  background: var(--black);
}

/*  logo  */

.logo__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-blue);

  cursor: pointer;
}

/*  nav  */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
}

.nav__link {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-blue);
  cursor: pointer;
}

/*  nav-scrol-bar  */

.nav-scrol-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 52px 0;
}

.scrol-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 160px;
  height: 4px;
  background: var(--gray);
}

.scrol-bar__vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 4px;
  height: 160px;
  background: var(--gray);
}

.scrol {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.scrol__vertical {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.scrol_active {
  background: var(--red);
}

.counter {
  margin-top: 8px;
  color: var(--black);

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.counter_vertical {
  margin-top: 24px;
  writing-mode: vertical-lr;
  scale: -1;
}

.counter__max {
  color: var(--gray);
}

/*  arrow nav  */

.arrow__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 168px;
  height: 26px;
  cursor: pointer;
}

.arrow__space {
  height: 100%;
  width: 22px;
}

.arrow {
  position: relative;
  width: 50px;
  height: 4px;

  background: var(--gray);
  border-radius: 30px;
}

.arrow::before {
  content: "";
  position: absolute;
  transform-origin: left;
  top: 1px;
  left: 0px;

  width: 20px;
  height: 4px;

  border-radius: 30px;
  transform: rotate(-45deg);
  background: var(--gray);
}

.arrow::after {
  content: "";
  position: absolute;
  transform-origin: left;
  top: -1px;
  left: 0px;

  width: 20px;
  height: 4px;

  border-radius: 30px;
  transform: rotate(45deg);
  background: var(--gray);
}

.arrow__right {
  transform: rotate(180deg);
}

.arrow__left {
  transform: rotate(0deg);
}

.arrow_active {
  width: 90px;
  background: var(--orange);
}

.arrow_active::before {
  background: var(--orange);
}

.arrow_active::after {
  background: var(--orange);
}

/*  CTA  */

.CTA__button {
  padding: 12px 24px;
  border: 0;
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  user-select: none;
}

.CTA__button_login {
  background: var(--white);
  color: var(--orange);
}

.CTA__button_sign {
  background: var(--orange);
  color: var(--white);
}

/*  header  */

.header {
  width: 100%;
  margin: 60px 0;
}

/*  intro  */

.intro {
  position: relative;
  width: 100%;
}

.intro__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.intro__title {
  width: 667px;
  height: 201px;

  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
}

.intro__title_color {
  color: var(--red);
}

.intro__sub-title {
  width: 382px;
  height: 120px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
}

.intro__container {
  position: relative;
  padding: 75px 0;
}

.intro__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;

  width: 960px;
  height: 598px;
}

/*  find-my-space  */

.find-my-space {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 445px;
  height: 459px;
  padding: 40px;
  background: var(--dark-blue);
}

.find-my-space__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: var(--white);

  margin-bottom: 30px;
}

.find-my-space__select {
  width: 365px;
  height: 68px;
  margin-bottom: 17px;
  border: 0;
  background: #0d2c4a;
  color: var(--white);
  cursor: pointer;
}

.find-my-space__submit {
  width: 100%;
  height: 52px;
  border: 0;
  margin-top: 3px;

  background: var(--orange);
  color: var(--white);
  cursor: pointer;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

/*  our-spaces  */

.our-spaces__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.our-spaces__sub-title {
  width: 452px;
}

.space-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  margin-top: 56px;
}

.spce-card__item {
  position: relative;
  width: 350px;
  height: 468px;
  border: 2px solid #0d2c4a;
}

.spce-card__rectangle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 42px;
  background: var(--dark-blue);
  color: var(--white);
}

.spce-card__img-container {
  position: relative;
  z-index: 3;
}

.spce-card__img {
  width: 350px;
  height: 420px;
}

.spce-card__show-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background: var(--orange);
  cursor: pointer;
}

.spce-card__show-details.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 255px;
}

.spce-card__show-details-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
}

.spce-card__title {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(50%, 0);

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.spce-card__sub-title {
  margin-top: 14px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}

/*  whyfrispes  */

.whyfrispes {
  width: 100%;
}

.whyfrispes__container {
  width: 540px;
  height: 421px;
}

.our-support {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 225px);
  justify-content: space-between;
}

.our-support__item {
  display: flex;
  flex-direction: row;
}

.our-support__item-img {
  width: 65px;
}

.our-support__item-data {
  display: flex;
  flex-direction: column;
}

.our-support__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}

.why-frispes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 54px;
  background: var(--dark-blue);
  color: var(--white);
}

.why-frispes__title {
  margin-bottom: 8px;
}

.why-frispes__title::after {
  background: var(--white);
}

.why-frispes__sub-title {
  margin-top: 24px;
  color: var(--white);
}

/*  facilities  */

.facilities {
  width: 100%;
}

.facilities__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 453px;

}

.facilites__buttons {
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 100%;
  padding: 24px;

}

.facilites__button {
  box-sizing: border-box;
  height: 72px;
  width: 100%;
  padding: 24px;
  margin-bottom: 24px;

  text-align: left;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  border: 0px;
  background: none;
}

.facilites__button.active {
  color: var(--white);
  background: var(--orange);
}