:root {

  --arrow-height: 26px;
  --arrow-width: 50px;
  --arrow-width-active: 100px;
  --red: #dd2c00;
  --orange: #ff5722;
  --dark-blue: #10375c;
  --white: #ffffff;
  --black: #222831;
  --gray: #6a6a6a;
}

* {
  border: 1px solid #000 !important;
}

/*  global  */

.container {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

.container_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_column {
  display: flex;
  flex-direction: column;
}

.space-between-block {
  margin-bottom: 112px;
}

/*  text  */

.title-heading {
  max-width: 668px;

  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
}

.title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
}

.sub-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray);
}

.text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.small-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.button-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.title-block {
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
}

.title-block::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 2px;
  top: 50%;
  margin-left: 15px;
  background: var(--black);
}

/*  logo  */

.logo__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: var(--dark-blue);
}

/*  nav  */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 560px;
}

.nav__link {
  text-decoration: none;
  color: var(--dark-blue);
  cursor: pointer;
}

/*  nav-scrol-bar  */

.nav-scroll-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
}

.scroll-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 160px;
  height: 4px;
  background: var(--gray);
}

.scroll-bar__vertical {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 4px;
  height: 160px;
  background: var(--gray);
}

.scroll {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.scroll__vertical {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.scroll_active {
  background: var(--red);
}

.counter {
  margin-top: 8px;
  color: var(--black);
}

.counter_vertical {
  margin-top: 24px;
  writing-mode: vertical-lr;
  scale: -1;
}

.counter__max {
  color: var(--gray);
}

/*  arrow nav  */

.arrow__container {
  display: flex;
  flex-direction: row;
  height: var(--arrow-height);
}

.arrow {
  box-sizing: content-box;
  width: var(--arrow-width);
  height: 100%;

  cursor: pointer;

  background: url("img/icon/arow.png") no-repeat;
  background-size: 1;
  border: 0;
}

.arrow_active {
  margin-left: 12px;
  width: var(--arrow-width-active);
  background: url("img/icon/arrow-active.png") no-repeat;
}

/*  CTA  */

.cta {
  display: flex;
  flex-direction: row;

}

.cta__button {
  padding: 12px 24px;
  border: 0;
  cursor: pointer;

  user-select: none;
}

.cta__button_login {
  background: var(--white);
  color: var(--orange);
}

.cta__button_sign {
  background: var(--orange);
  color: var(--white);
}

/*  header  */

.header {
  width: 100%;
  margin: 60px 0;
}

/*  intro  */

.intro {
  position: relative;
  width: 100%;
}

.intro__title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.intro__title {
  max-width: 668px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
}

.intro__title_color {
  color: var(--red);
}

.intro__sub-title {
  width: 382px;

  color: var(--gray);
}

.intro__container {
  position: relative;
  padding: 75px 0;
}

.intro__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;

  width: 960px;
  height: 598px;
}

/*  find-my-space  */

.find-my-space {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 446px;
  height: 460px;
  padding: 40px;
  background: var(--dark-blue);
  color: var(--white);
}

.find-my-space__title {
  margin-bottom: 30px;

  font-size: 34px;
}

.find-my-space__select {
  width: 365px;
  height: 68px;
  margin-bottom: 17px;
  border: 0;
  background: #0d2c4a;
  color: var(--white);
  cursor: pointer;
}

.find-my-space__submit {
  width: 100%;
  height: 52px;
  border: 0;
  margin-top: 3px;

  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}

/*  our-spaces  */

.our-spaces__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.our-spaces__sub-title {
  width: 452px;
}

.space-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 56px;
}

.space-card__item {
  position: relative;
  width: 350px;
  height: 468px;
}

.space-card__rectangle {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 42px;

  background: var(--dark-blue);
  color: var(--white);
}

.space-card__rectangle-mask {
  position: absolute;
  top: 0;
  right: 0;

  margin: 16px;
}

.space-card__img-container {
  display: flex;

  position: relative;
  z-index: 3;
}

.space-card__img {
  width: 350px;
  height: 420px;
}

.space-card__show-details {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 72px;
  height: 72px;

  border: 0;
  background: var(--orange);
  cursor: pointer;
}

.space-card__show-details.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 255px;
  color: var(--white);
}

.space-card__show-details-text {
  color: var(--white);
}

.space-card__show-details-img {
  transform: rotate(-90deg);

}

.space-card__show-details-img.active {
  margin-left: 20px;
}

.space-card__title {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(50%, 0);
}

.space-card__sub-title {
  margin-top: 14px;
  text-align: center;
  color: var(--white);
}

/*  whyfrispes  */

.whyfrispes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.whyfrispes__container {
  max-width: 540px;
  min-height: 420px;
}

.our-support {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 225px);
  justify-content: space-between;
}

.our-support__item {
  display: flex;
  flex-direction: row;
}

.our-support__item-img {
  width: 65px;
}

.our-support__item-data {
  display: flex;
  flex-direction: column;
}

.our-support__title {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}

.why-frispes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 54px;
  background: var(--dark-blue);
  color: var(--white);
}

.why-frispes__title {
  margin-bottom: 8px;
}

.why-frispes__title::after {
  background: var(--white);
}

.why-frispes__sub-title {
  margin-top: 24px;
  color: var(--white);
}

/*  facilities  */

.facilities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.facilities__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.facilities__container-select {
  display: flex;
  flex-direction: row;
}

.facilites__buttons {
  display: flex;
  flex-direction: column;
  width: 294px;
  padding: 24px;
  padding-bottom: 0;
}

.facilites__button {
  box-sizing: border-box;
  height: 72px;
  width: 100%;
  padding: 24px;
  text-align: left;

  cursor: pointer;

  border: 0px;
  background: none;
}

.facilites__button.active {
  color: var(--white);
  background: var(--orange);
}

.facilities__img {
  max-width: 720px;
}

/*  frispes-gallery  */

.frispes-gallery {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.frispes-gallery__header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 540px;
}

.frispes-gallery__img-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.frispes-gallery__img {
  max-width: 350px;
  max-height: 350px;
  margin: 0 15px;
}

.frispes-gallery__img.active {
  max-width: 445px;
  max-height: 606px;
}

/*  use-frispes  */

.use-frispes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.use-frispes__header {
  max-width: 640px;
  margin-bottom: 56px;
}

.use-frispes__sub-title {
  margin-top: 24px;
}

.use-frispes__companies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}